/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-title {
    margin: auto 0 auto 0;
}

.msg-success {
    background-color: #DDE7C4;
    color: #70A507;
}

.msg-error {
    background-color: #F4D9D6;
    color: #D5442D;
}

.msg-warning {
    background-color: #F8ECD6;
    color: #C78300;
}

.mat-simple-snackbar-action {
        color: white !important;
}
