<mat-progress-bar class="progress-bar" *ngIf="!isSearchCompleted" mode="indeterminate"></mat-progress-bar>

<mat-card class="container" *ngIf="isSearchCompleted">
    <mat-card-title>Create New Category</mat-card-title>

    <form [formGroup]="categoryForm" (ngSubmit)="saveNewCategory()">
        <mat-card-content>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Category name" required />
                    <mat-error *ngIf="formControl.name.touched && formControl.icon.invalid">
                       Enter category name
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Icon</mat-label>
                    <input type="text" matInput formControlName="icon" placeholder="Icon code" required />
                    <mat-error *ngIf="formControl.icon.touched && formControl.icon.invalid">
                        Enter category icon code
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="typeId">
                        <mat-option *ngFor="let type of types" [value]="type.id" required> {{type.name}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControl.typeId.touched && formControl.typeId.invalid">
                        Select a type
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <div class="invalid-fields" *ngIf="invalidFields.length > 0">
            <mat-card>
                <mat-card-title>Something went wrong!</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="errors">
                        <ul>
                            <li class="error" *ngFor="let error of invalidFields">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="categoryForm.invalid">Save</button>
            <button mat-stroked-button routerLink="/category">Back</button>
        </mat-card-actions>
    </form>

</mat-card>
