.mat-form-field {
    width: 50%;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-card-content div {
    margin-top: 1rem;
}

mat-card-actions {
    display: flex;
    margin: auto 0 auto 0;
}

mat-card {
    padding-bottom: 0;
}

.invalid-fields {
    padding: 1rem 0;
}

.error {
    margin: 0;
    color: rgb(227, 94, 107);
}

.errors {
    margin-top: 0 !important;
}

ul { 
    padding-left: 1rem;
}
