<mat-progress-bar class="progress-bar" *ngIf="!isSearchCompleted" mode="buffer"></mat-progress-bar>

<mat-card class="container" *ngIf="isSearchCompleted">
    <mat-card-title>Update Category: {{ categoryName }}</mat-card-title>

    <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()">
        <mat-card-content>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Category name" />
                    <mat-error *ngIf="formControl.name.touched && formControl.icon.invalid">
                        Enter category name
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Icon</mat-label>
                    <input type="text" matInput formControlName="icon" placeholder="Icon code" />
                    <mat-error *ngIf="formControl.icon.touched && formControl.icon.invalid">
                        Enter category icon code
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="typeId">
                        <mat-option *ngFor="let type of types" [value]="type.id"> {{type.name}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControl.typeId.touched && formControl.typeId.invalid">
                        Select a type
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <app-invalid-fields [invalidFields]="invalidFields"></app-invalid-fields>


        <mat-card-actions>
            <div>
                <button type="submit" mat-raised-button color="primary" [disabled]="categoryForm.invalid">Save</button>
                <button mat-stroked-button routerLink="/category">Back</button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>
