table {
    width: 100%;
}

table th {
    width: 25%;
}

.header button {
    display:flex;
    text-align: center;
    justify-content: center;
}

button + button {
    margin-left: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.mat-form-field {
    padding-top: 1rem;
}

mat-card-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
