<div class="dialog">
    <div mat-dialog-title class="dialog-title">
        <h1>Purchase completed <i class="material-icons success">check</i></h1>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content class="content">
        <h2>Thank you, <strong>{{ data.customer }}</strong>!</h2>
        <h3>For shopping whit us. Have a nice day!</h3>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button cdkFocusInitial color="primary" (click)="close()">Back</button>
    </div>
</div>


<h1 mat-dialog-title>Category Deleted</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
